<h3>SpecialOffers:@SName</h3>
<h3>SpecialOffers:@DealName</h3>

@code {
    [CascadingParameter]
    private string? SName { get; set; }

    [CascadingParameter]
    private string? DealName { get; set; }
}
