@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<button class="btn btn-primary" @onclick="() => currentCount -= 10">Click me1</button>

@if (currentCount > 3)
{
    <p>You Win!</p>
}

<ol>
    @foreach (var item in items)
    {
        <li>@item.ToString()</li>
    }
</ol>

@code {
    private int currentCount = 0;

    private List<int> items = new List<int>{ 1, 2, 3 };

    [Parameter]
    public int IncrementAmount { get; set; } = 2;

    private void IncrementCount()
    {
        currentCount += IncrementAmount;
    }
}

<input @onchange="InputChanged" />
<p>@Message</p>

@code
{
    string Message = "";

    void InputChanged(ChangeEventArgs args) => Message = args.Value?.ToString();
}


<input @bind="text" />
<button @onclick="() => text = string.Empty">@text</button>

@code
{
    string text = string.Empty;
}

