@using BlazorApp.Components.Child
@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<Counter IncrementAmount="10"/>


<p>
    Your email address is:
    <input @bind="email" />
</p>

@code {
    string email = "mrbm868@gmail.com";
}

<h1>My favorite pizza is: @favPizza</h1>

<p>
    Enter your favorite pizza:
    <input @bind-value="favPizza" @bind-value:event="oninput" />
</p>

@code {
    private string favPizza { get; set; } = "Margherita";
}